<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Activate.Mock.ICoinMarketCapProvider" value="true" />
    <add key="Activate.Mock.IDataAccessLayer" value="true" />
    
    <add key="Data.DB.DbFilePath" value="./TestDb.sqlite" />
    <add key="Data.DB.ConnectionString" value="Data Source='./TestDb.sqlite';Version=3;" />
  </appSettings>
</configuration>